chardet==3.0.4
click==6.7
Cython==0.28.2
ash==2.4.1
dash-bootstrap-components==1.1.0
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
distlib==0.3.6
dnspython==2.2.1
decorator==4.3.0
nbformat==4.4.0
numpy==1.14.2
pandas==0.22.0
pandas-datareader==0.6.0
plotly==2.4.1
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
urllib3==1.22
Werkzeug==0.14.1
gunicorn==20.0.4
Flask-Compress==1.12
flask-ngrok==0.0.25
flatbuffers==1.12
fonttools==4.25.0
gast==0.4.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20
h11==0.13.0
inflection==0.5.1
jsonify==0.5
wasabi==0.9.1
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
wsproto==1.1.0
yfinance==0.1.87
zict==2.0.0
